/** (Start) Header Page **/
.header-page {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto 1fr;
	gap: 1.875rem;
	margin-block: 2rem;
}

.header-page h1 {
	margin: 0;
}

.header-page form {
	display: table;
	margin-left: auto;
}

.header-page .btn-search[type="button"] {
	display: none;
}

.header-page .form-control {
	max-width: 240px;
}
/** (End) Header Page **/

/** (Start) Wrapper Table **/
.wrapper-table {
	display: grid;
	grid-template-columns: 1fr auto;
}

.wrapper-table > * {
	min-width: 100%;
	grid-column: span 2;
}

.wrapper-pagination {
	grid-column: auto;
}

.wrapper-navigation {
	grid-column: auto;
}

.wrapper-table .table-responsive {
	max-height: 636px;
	border-radius: .625rem;
}

.wrapper-table .table {
	margin-block: 0;
}

.table-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 1rem;
}


.table-filter > * + * {
	padding-top: 1rem;
}

.table-action {
	display: flex;
	gap: .75rem;
}

.table-action > * {
	flex: 1;
}

.table-action .dropdown .btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.table-buttons {
	display: flex;
	align-items: center;
	gap: .75rem .5rem;
}

.table-buttons > .btn {
	flex-shrink: 0;
}

.wrapper-status {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .625rem;
	line-height: 1;
}

.indicator {
	--size: .75rem;
	width: var(--size);
	height: var(--size);
	background-color: var(--gray-color);
	border: none;
	border-radius: 50%;
	flex-shrink: 0;
	transition: background-color .3s ease-in-out;
}

.indicator.active {
	background-color: var(--secondary);
}

.indicator.passive {
	background-color: var(--warning);
}

.indicator.new {
	background-color: var(--accent);
}

.table-items tbody .suptotal {
	display: none;
}
/** (End) Wrapper Table **/

/** (Start) Wrapper MyData **/
.wrapper-mydata {
	margin-block-end: 2rem;
	padding: 1.5rem;
	background-color: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-2);
	
	form {
		& > .row {
			row-gap: 2.25rem;
		}
	}
}
/** (End) Wrapper MyData **/

/** (Start) Wrapper Graph **/
.wrapper-graph {
	.graph {
		padding: 1.875rem;
		background-color: var(--background);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-3);

		&-main {
			&-info {
				.icon-trending {
					--size: 2rem;
					padding: .375rem;
					border-radius: 50%;

					&.is-up {
						color: var(--secondary);
						background-color: var(--secondary--light);
					}

					&.is-down {
						color: var(--warning);
						background-color: var(--warning--light);

						svg {
							transform: rotateX(180deg);
						}
					}
				}
			}
		}

		&-canvas {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
/** (End) Wrapper Graph **/