/** (Start) Header Page **/
.header-page {
  display: grid;
  align-items: center;
  gap: 1.875rem;
  margin-block: 2rem;
}
.header-page.is-two {
  grid-template-columns: auto 1fr;
}
.header-page.is-three {
  grid-template-columns: auto auto 1fr;
}
.header-page h1 {
  margin: 0;
}
.header-page form {
  display: table;
  margin-left: auto;
}
.header-page .btn-search[type="button"] {
  display: none;
}
.header-page .form-control {
  max-width: 240px;
}
/** (End) Header Page **/
/** (Start) Wrapper Table **/
.wrapper-table {
  display: grid;
  grid-template-columns: 1fr auto;
}
.wrapper-table > * {
  min-width: 100%;
  grid-column: span 2;
}
.wrapper-table .table-responsive {
  max-height: 636px;
  border-radius: 0.625rem;
}
.wrapper-table .table {
  margin-block: 0;
}
.wrapper-table .btn-shape {
  margin-inline-start: auto;
  margin-inline-end: 0;
}
.wrapper-table.without-filter thead .wrapper-search {
  padding-inline-end: 0.625rem;
}
.wrapper-pagination {
  grid-column: auto;
}
.wrapper-navigation {
  grid-column: auto;
}
.table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.table-filter > * + * {
  padding-top: 1rem;
}
.table-action {
  display: flex;
  gap: 0.75rem;
}
.table-action > * {
  flex: 1;
}
.table-action .dropdown .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.table-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem 0.5rem;
}
.table-buttons > .btn {
  flex-shrink: 0;
}
.wrapper-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  line-height: 1;
}
.indicator {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--gray-color);
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}
.indicator.active {
  background-color: var(--secondary);
}
.indicator.passive {
  background-color: var(--warning);
}
.indicator.new {
  background-color: var(--accent);
}
.table-items tbody .suptotal {
  display: none;
}
/** (End) Wrapper Table **/
/** (Start) Wrapper MyData **/
.wrapper-mydata {
  margin-block-end: 2rem;
  padding: 1.5rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-2);
}
.wrapper-mydata form > .row {
  row-gap: 2.25rem;
}
/** (End) Wrapper MyData **/
/** (Start) Wrapper Graph **/
.wrapper-graph {
  margin-block-end: 4rem;
}
.wrapper-graph .g-3 {
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 1.25rem;
}
.wrapper-graph--info > .row {
  height: calc(100% + var(--bs-gutter-y));
}
.wrapper-graph .graph {
  padding: 1.875rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
}
.wrapper-graph .graph--info {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 1.875rem 1.5rem 1.25rem;
}
.wrapper-graph .graph--info .graph-header {
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}
.wrapper-graph .graph--info .badge {
  min-width: 85px;
}
.wrapper-graph .graph-header {
  font-size: var(--font-size--sm);
  font-weight: 600;
  line-height: normal;
  color: var(--text-color--dark);
  margin-bottom: 1.5rem;
}
.wrapper-graph .graph-header * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.wrapper-graph .graph-main {
  display: flex;
  justify-content: space-between;
}
.wrapper-graph .graph-main-start {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
.wrapper-graph .graph-main-end {
  width: 130px;
  height: 100px;
}
.wrapper-graph .graph-main-title {
  font-size: var(--font-size--tl);
  font-weight: 700;
  line-height: normal;
  color: var(--text-color--dark);
}
.wrapper-graph .graph-main-title * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.wrapper-graph .graph-main-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: var(--font-size--sm);
  color: var(--text-color);
}
.wrapper-graph .graph-main-info .icon-trending {
  --size: 2rem;
  padding: 0.375rem;
  border-radius: 50%;
}
.wrapper-graph .graph-main-info .icon-trending.is-up {
  color: var(--secondary);
  background-color: var(--secondary--light);
}
.wrapper-graph .graph-main-info .icon-trending.is-down {
  color: var(--warning);
  background-color: var(--warning--light);
}
.wrapper-graph .graph-main-info .icon-trending.is-down svg {
  transform: rotateX(180deg);
}
.wrapper-graph .graph-main-info .total {
  font-weight: 600;
  color: var(--text-color--dark);
}
/** (End) Wrapper Graph **/
