/** (Start) Header Page **/
.header-page {
  display: grid;
  align-items: center;
  gap: 1.875rem;
  margin-block: 2rem;
}
.header-page.is-two {
  grid-template-columns: auto 1fr;
}
.header-page.is-three {
  grid-template-columns: auto auto 1fr;
}
.header-page h1 {
  margin: 0;
}
.header-page form {
  display: table;
  margin-left: auto;
}
.header-page .btn-search[type="button"] {
  display: none;
}
.header-page .form-control {
  max-width: 240px;
}
.header-page-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.header-page-end .btn-group--custom {
  gap: 0.75rem;
}
.header-page-end form {
  display: block;
  max-width: max-content;
  margin: 0;
}
/** (End) Header Page **/
/** (Start) Wrapper Table **/
.wrapper-table {
  display: grid;
  grid-template-columns: 1fr auto;
}
.wrapper-table > * {
  min-width: 100%;
  grid-column: span 2;
}
.wrapper-table .table-responsive {
  border-radius: 0.625rem;
  scrollbar-gutter: stable;
}
.wrapper-table .table {
  margin-block: 0;
}
.wrapper-table .btn-shape {
  margin-inline-start: auto;
  margin-inline-end: 0;
}
.wrapper-table.without-filter thead .wrapper-search {
  padding-inline-end: 0.625rem;
}
.wrapper-table .tab-content > .active {
  display: grid;
  grid-template-columns: 1fr auto;
}
.wrapper-table .tab-pane > * {
  grid-column: span 2;
}
.wrapper-table .tab-pane .wrapper-pagination,
.wrapper-table .tab-pane .wrapper-navigation {
  grid-column: auto;
}
.wrapper-table .wrapper-graph {
  margin-block: 2rem 0;
}
.wrapper-table .wrapper-graph + * {
  margin-block-start: 1.25rem;
}
.wrapper-pagination {
  grid-column: auto;
}
.wrapper-navigation {
  grid-column: auto;
}
.table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1.5rem;
}
.table-header h2 {
  line-height: 2.25rem;
  margin: 0;
}
.page-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  margin-block-end: 1.125rem;
}
.page-filter > * {
  flex: 1;
}
.page-filter > * > .dropdown-toggle {
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.table-filter {
  margin-block-end: 1.5rem;
}
.table-filter > * + * {
  padding-block-start: 1rem;
}
.table-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem 0.5rem;
}
.table-buttons > .btn,
.table-buttons time {
  flex-shrink: 0;
}
.table-buttons time {
  display: block;
  font-size: calc(var(--font-size--sm) + 0.125rem);
  color: var(--text-color);
  margin-inline-start: auto;
}
.table-buttons time > span {
  display: inline-block;
  font-size: var(--font-size--tiny);
  color: var(--text-color--light);
  margin-inline-end: 0.375rem;
}
.table-buttons .swiper-buttons {
  margin-inline-start: 1rem;
}
.wrapper-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  line-height: 1;
}
.indicator {
  display: block;
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--gray-color);
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}
.indicator.active {
  background-color: var(--secondary);
}
.indicator.passive {
  background-color: var(--warning);
}
.indicator.new {
  background-color: var(--accent);
}
.indicator.third {
  background-color: var(--third);
}
.indicator.fourth {
  background-color: var(--fourth);
}
.indicator.fifth {
  background-color: var(--fifth);
}
/** (End) Wrapper Table **/
/** (Start) Wrapper MyData **/
.wrapper-mydata {
  margin-block-end: 2rem;
  padding: 1.5rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-2);
}
.wrapper-mydata form > .row {
  row-gap: 2.25rem;
}
/** (End) Wrapper MyData **/
/** (Start) Wrapper Graph **/
.wrapper-graph .graph-box {
  width: 100%;
}
.wrapper-graph .graph-box .axes-y {
  display: flex;
  flex-direction: row;
}
.wrapper-graph .graph-box .axes-y > * {
  height: 620px;
}
.wrapper-graph .graph-box .axes-y .graph-axes-y {
  width: 46px;
}
.wrapper-graph .graph-box .axes-y .graph-overflow {
  width: calc(100% - 46px);
}
.wrapper-graph .graph-box .axes-y .graph-overflow > * {
  height: 100%;
}
.wrapper-graph .graph-box .graph-overflow {
  width: 100%;
}
.wrapper-graph .tooltip-canvas {
  font-family: var(--font);
  font-weight: 600;
  color: var(--text-color--dark);
  background-color: var(--background);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-2);
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.25s ease-in-out;
}
.wrapper-graph .tooltip-canvas.overflow-start > .icon {
  right: auto;
  left: 11%;
}
.wrapper-graph .tooltip-canvas.overflow-end > .icon {
  right: 33%;
}
.wrapper-graph .tooltip-canvas > .icon {
  position: absolute;
  top: 99%;
  right: 50%;
  transform: rotate(180deg) translateX(-50%);
}
.wrapper-graph .tooltip-canvas * {
  border: none;
}
.wrapper-graph .tooltip-canvas .list-group-item .title,
.wrapper-graph .tooltip-canvas .list-group-item .date {
  display: block;
  text-wrap: nowrap;
}
.wrapper-graph .tooltip-canvas .list-group-item .title {
  font-size: var(--font-size--md);
  font-weight: 600;
  color: var(--text-color--dark);
}
.wrapper-graph .tooltip-canvas .list-group-item .date {
  font-size: var(--font-size);
  color: var(--text-color--light);
  text-align: center;
}
.wrapper-graph:last-child {
  margin-block-end: 4rem;
}
.wrapper-graph .g-3 {
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 1.25rem;
}
.wrapper-graph--info > .row {
  height: calc(100% + var(--bs-gutter-y));
}
.wrapper-graph .graph {
  height: 100%;
  padding: 1.875rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
}
.wrapper-graph .graph-header {
  font-size: var(--font-size--sm);
  font-weight: 600;
  line-height: normal;
  color: var(--text-color--dark);
  margin-block-end: 1.5rem;
}
.wrapper-graph .graph-header * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.wrapper-graph .graph-main {
  display: flex;
  justify-content: space-between;
}
.wrapper-graph .graph-main-start {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
.wrapper-graph .graph-main-title {
  font-size: var(--font-size--tl);
  font-weight: 700;
  line-height: normal;
  color: var(--text-color--dark);
}
.wrapper-graph .graph-main-title * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.wrapper-graph .graph-main-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: var(--font-size--sm);
  color: var(--text-color);
}
.wrapper-graph .graph-main-info .icon-trending {
  --size: 2rem;
  padding: 0.375rem;
  border-radius: 50%;
}
.wrapper-graph .graph-main-info .icon-trending.is-up {
  color: var(--secondary);
  background-color: var(--secondary--light);
}
.wrapper-graph .graph-main-info .icon-trending.is-down {
  color: var(--warning);
  background-color: var(--warning--light);
}
.wrapper-graph .graph-main-info .icon-trending.is-down svg {
  transform: rotateX(180deg);
}
.wrapper-graph .graph-main-info .total {
  font-weight: 600;
  color: var(--text-color--dark);
}
.wrapper-graph .graph-box {
  position: relative;
}
.wrapper-graph .graph-box > * {
  margin-inline: auto;
}
.wrapper-graph .graph-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
.wrapper-graph .graph-line > * {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.wrapper-graph .graph-line .indicator {
  --size: 1rem;
  border-radius: 0.375rem;
}
.wrapper-graph .graph-line .type,
.wrapper-graph .graph-line .total,
.wrapper-graph .graph-line .percent {
  font-size: var(--font-size--sm);
  font-weight: 600;
  line-height: 1.5;
}
.wrapper-graph .graph-line .type {
  max-width: 160px;
  font-size: var(--font-size);
  color: var(--text-color);
}
.wrapper-graph .graph-line .line-end {
  text-align: left;
}
.wrapper-graph .graph-line .line-end .total,
.wrapper-graph .graph-line .line-end .percent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-graph .graph-line .line-end .total {
  color: var(--text-color--dark);
}
.wrapper-graph .graph-line .line-end .percent {
  min-width: 6ch;
}
.wrapper-graph .graph--info {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 1.875rem 1.5rem 1.25rem;
}
.wrapper-graph .graph--info .graph-header {
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}
.wrapper-graph .graph--info .badge {
  min-width: 85px;
}
.wrapper-graph .graph--circle .graph-header,
.wrapper-graph .graph--progress .graph-header,
.wrapper-graph .graph--mini-table .graph-header,
.wrapper-graph .graph--bar .graph-header {
  font-size: var(--font-size--md);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color--dark);
  margin-block-end: 1rem;
}
.wrapper-graph .graph--circle .graph-header h3,
.wrapper-graph .graph--progress .graph-header h3,
.wrapper-graph .graph--mini-table .graph-header h3,
.wrapper-graph .graph--bar .graph-header h3 {
  font: inherit;
}
.wrapper-graph .graph--circle .graph-header h3 span,
.wrapper-graph .graph--progress .graph-header h3 span,
.wrapper-graph .graph--mini-table .graph-header h3 span,
.wrapper-graph .graph--bar .graph-header h3 span {
  display: block;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  margin-block-start: 0.25rem;
}
.wrapper-graph .graph--circle {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding: 1.5rem;
  box-shadow: var(--box-shadow-2);
}
.wrapper-graph .graph--circle .graph-main .graph-box {
  width: 100%;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  position: relative;
}
.wrapper-graph .graph--circle .graph-main .graph-box canvas {
  position: relative;
  z-index: 10;
}
.wrapper-graph .graph--circle .graph-main .graph-box .current-data {
  font-size: var(--font-size);
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.3;
  text-align: center;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper-graph .graph--circle .graph-main .graph-box .current-data span {
  display: block;
  font-size: var(--font-size--xxl);
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color--dark);
}
.wrapper-graph .graph--circle .graph-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 1rem 1rem;
}
.wrapper-graph .graph--progress .graph-header,
.wrapper-graph .graph--bar .graph-header {
  display: flex;
  flex-direction: column;
}
.wrapper-graph .graph--progress .graph-header .graph-line,
.wrapper-graph .graph--bar .graph-header .graph-line {
  justify-content: flex-start;
}
.wrapper-graph .graph--progress .graph-header .graph-line > *,
.wrapper-graph .graph--bar .graph-header .graph-line > * {
  gap: 0.75rem;
}
.wrapper-graph .graph--progress .graph-header .graph-line .type,
.wrapper-graph .graph--bar .graph-header .graph-line .type {
  font-size: var(--font-size--sm);
  line-height: 1.2;
}
.wrapper-graph .graph--progress {
  height: 100%;
  padding: 1.5rem 0.25rem 1.5rem 1.5rem;
}
.wrapper-graph .graph--progress .graph-header {
  gap: 1.25rem;
  margin-block-end: 0;
  padding-block-end: 0.75rem;
}
.wrapper-graph .graph--progress .graph-header .graph-line {
  gap: 4rem;
}
.wrapper-graph .graph--progress .graph-main {
  padding-block-start: 1.5rem;
}
.wrapper-graph .graph--progress .wrapper-progress {
  width: 100%;
}
.wrapper-graph .graph--progress .wrapper-progress-top .title,
.wrapper-graph .graph--progress .wrapper-progress-bottom .title {
  width: 130px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-graph .graph--progress .wrapper-progress-bottom .progress-total {
  display: flex;
  gap: 1.25rem;
  margin-block-start: 0.75rem;
  padding-inline-end: 1.4rem;
}
.wrapper-graph .graph--progress .wrapper-progress-bottom .progress-total-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-graph .graph--progress .wrapper-progress-bottom .progress-total-item {
  font-size: var(--font-size--tiny);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-form);
}
.wrapper-graph .graph--progress .wrapper-progress-bottom .progress-total-item:not(:first-child, :last-child) {
  margin-inline-start: 1rem;
}
.wrapper-graph .graph--progress .wrapper-progress .progress-items {
  max-height: 260px;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-inline-end: 0.875rem;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-gutter: stable;
}
.wrapper-graph .graph--progress .wrapper-progress .progress-items-v2 {
  max-height: 220px;
}
.wrapper-graph .graph--progress .wrapper-progress .progress-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.wrapper-graph .graph--progress .wrapper-progress .progress-item .title {
  font-size: var(--font-size--tiny);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-form);
  text-align: right;
  margin: 0;
}
.wrapper-graph .graph--progress .wrapper-progress .progress-item .progress {
  width: 100%;
}
.wrapper-graph .graph--mini-table .graph-header {
  margin-block-end: 1rem;
}
.wrapper-graph .graph--mini-table .table-responsive {
  height: 550px;
  border-radius: 0.4rem;
  padding-inline-start: 0;
}
.wrapper-graph .graph--mini-table .table-responsive.scroll {
  height: calc(550px - 0.375rem);
  margin-block-start: 0.375rem;
}
.wrapper-graph .graph--mini-table .table-wrapper {
  padding-block: 1px 0.5rem;
  padding-inline: 0.5rem 0.25rem;
}
.wrapper-graph .graph--mini-table .table {
  background-color: transparent;
}
.wrapper-graph .graph--mini-table .table.bg-secondary {
  background-color: transparent !important;
}
.wrapper-graph .graph--mini-table .table.bg-secondary thead tr > *,
.wrapper-graph .graph--mini-table .table.bg-secondary tfoot tr > * {
  border-color: var(--secondary);
}
.wrapper-graph .graph--mini-table .table.bg-secondary thead tr > * {
  border-color: var(--secondary);
  background-color: var(--secondary);
}
.wrapper-graph .graph--mini-table .table.bg-secondary tfoot tr > * {
  color: var(--secondary);
}
.wrapper-graph .graph--mini-table .table .dropdown-toggle {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.5;
}
.wrapper-graph .graph--mini-table .table tfoot .total {
  color: var(--accent);
}
.wrapper-graph .graph--mini-table .table th,
.wrapper-graph .graph--mini-table .table td {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 0.625rem;
}
.wrapper-graph .graph--mini-table .table th > span,
.wrapper-graph .graph--mini-table .table td > span {
  margin-inline: 0;
}
.wrapper-graph .graph--mini-table .table th .btn-table,
.wrapper-graph .graph--mini-table .table td .btn-table {
  margin: -0.5rem -0.25rem -0.5rem auto;
  padding: 0.25rem 0.25rem 0.25rem 0.625rem;
}
.wrapper-graph .graph--mini-table .table th:first-child,
.wrapper-graph .graph--mini-table .table td:first-child {
  width: 100%;
  text-align: left;
}
.wrapper-graph .graph--mini-table .table th:last-child,
.wrapper-graph .graph--mini-table .table td:last-child {
  text-align: right;
}
.wrapper-graph .graph--mini-table .table .total {
  font-size: var(--font-size--sm);
  line-height: 1.425;
  color: var(--text-color--dark);
}
.wrapper-graph .graph--bar .graph-header {
  gap: 1.875rem;
  margin-block-end: 3rem;
}
.wrapper-graph .graph--bar .graph-header .graph-line {
  gap: 1.875rem;
}
.wrapper-graph .graph--bar .graph-box {
  width: 100%;
}
/** (End) Wrapper Graph **/
/** (Start) Custom Counter **/
.item-counter {
  --counter-color: #A9B9C7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-counter > * {
  flex-shrink: 0;
}
.item-counter input {
  width: 1.625rem;
  height: 1.25rem;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  padding: 0 0.25rem;
  text-align: center;
}
.item-counter > .btn {
  min-height: unset;
  color: var(--counter-color);
  border: 1px solid transparent;
  padding: 0 0.25rem;
}
.item-counter > .btn .icon {
  --size: 0.875rem;
}
.item-counter > .btn:is(:hover) {
  color: var(--text-color);
}
.item-counter > .btn:is(:focus-visible, :active, .active) {
  color: var(--accent);
}
/** (End) Custom Counter **/
/** (Start) Vanilla Calendar **/
[data-calendar-theme=light].vanilla-calendar button:focus-visible {
  border-radius: 50%;
  outline-color: var(--accent);
}
[data-calendar-theme=light] .vanilla-calendar__content,
[data-calendar-theme=light] .vanilla-calendar-month,
[data-calendar-theme=light] .vanilla-calendar-year {
  color: var(--text-color--dark);
}
[data-calendar-theme=light] .vanilla-calendar-arrow::before {
  background-color: var(--text-color);
}
[data-calendar-theme=light] .vanilla-calendar-arrow:is(:hover, :focus-visible, :active)::before {
  background-color: var(--text-color--dark);
}
[data-calendar-theme=light] .vanilla-calendar-week__day {
  color: var(--text-color);
}
[data-calendar-theme=light] .vanilla-calendar-day:nth-child(7n) .vanilla-calendar-day__btn::after {
  all: unset;
}
[data-calendar-theme=light] .vanilla-calendar-day:nth-child(7n + 1) .vanilla-calendar-day__btn::before {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn {
  min-width: 2.25rem;
  min-height: 2.25rem;
  font-size: var(--font-size);
  color: var(--text-color--dark);
  border-radius: 50%;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_today {
  font-weight: 400;
  color: var(--text-color--dark);
  background-color: var(--background);
  border: 1px solid var(--text-color--light);
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_today:hover {
  color: var(--accent);
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected {
  color: var(--text-light);
  background-color: var(--accent);
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected:hover {
  color: var(--text-light);
  background-color: var(--accent);
  border-radius: 50%;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected:focus-visible {
  outline-color: var(--accent);
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate {
  color: var(--text-color--dark);
  background-color: var(--accent-05);
  border-color: transparent;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate::after,
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: var(--accent-05);
  position: absolute;
  top: 0;
  isolation: isolate;
  z-index: -1;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate::after {
  right: -0.125rem;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate::before {
  left: 0;
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate:is(:hover, :focus-visible, :active) {
  background-color: var(--secondary);
}
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate:is(:hover, :focus-visible, :active)::after,
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate:is(:hover, :focus-visible, :active)::before {
  background-color: var(--secondary);
}
[data-calendar-theme=light] .vanilla-calendar-day_selected-first,
[data-calendar-theme=light] .vanilla-calendar-day_selected-last {
  position: relative;
  z-index: 1;
}
[data-calendar-theme=light] .vanilla-calendar-day_selected-first > *,
[data-calendar-theme=light] .vanilla-calendar-day_selected-last > * {
  border-color: transparent;
}
[data-calendar-theme=light] .vanilla-calendar-day_selected-first .vanilla-calendar-day__btn::after,
[data-calendar-theme=light] .vanilla-calendar-day_selected-last .vanilla-calendar-day__btn::after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: var(--accent-05);
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -1;
}
[data-calendar-theme=light] .vanilla-calendar-day_selected-first .vanilla-calendar-day__btn::after {
  right: -0.125rem;
}
[data-calendar-theme=light] .vanilla-calendar-day_selected-last .vanilla-calendar-day__btn::after {
  left: 0;
}
[data-calendar-theme=light] .vanilla-calendar-day__first > *::before {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
[data-calendar-theme=light] .vanilla-calendar-day__last > *::after {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.vanilla-calendar {
  box-shadow: none;
  border-radius: 1rem;
  padding-block-end: 0.5rem;
}
.vanilla-calendar-month,
.vanilla-calendar-year {
  font-size: var(--font-size--sm);
  font-weight: 600;
}
.vanilla-calendar .vanilla-calendar-tabs {
  display: none;
}
.vanilla-calendar.with-tabs .vanilla-calendar-tabs {
  display: flex;
}
.vanilla-calendar-header {
  padding-inline: 0;
}
.vanilla-calendar-header__content {
  flex-grow: unset;
  color: var(--text-color--dark);
  padding: 0;
}
.vanilla-calendar-header__content > :first-child {
  padding-inline-start: 0;
}
.vanilla-calendar-header__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vanilla-calendar-header__navigation {
  display: flex;
  align-items: center;
}
.vanilla-calendar-arrow {
  width: 2.5rem;
  height: 2.5rem;
}
.vanilla-calendar-arrow::before {
  margin: 0.5rem;
}
.vanilla-calendar-week__day {
  font-weight: 400;
}
.vanilla-calendar-days {
  gap: 0.125rem;
}
.vanilla-calendar-buttons {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 0.5rem;
}
.vanilla-calendar-buttons .btn {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.5rem;
  padding: 0.375rem 0.5rem;
}
.vanilla-calendar-buttons__close {
  color: var(--text-color--light);
}
.vanilla-calendar-buttons__save {
  color: var(--accent);
}
.vanilla-calendar_default .vanilla-calendar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vanilla-calendar-top {
  margin-block-end: 0.75rem;
}
.vanilla-calendar-top__selected_date {
  display: block;
  font-size: calc(var(--font-size--sm) + 0.125rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color--dark);
  text-align: left;
}
.vanilla-calendar-tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 0.375rem;
}
.vanilla-calendar-tabs .btn-calendar-tab {
  min-height: auto;
  font-size: var(--font-size--tiny);
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color);
  text-transform: uppercase;
  border-block-width: 0 1.5px;
  border-inline-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  padding: 0 0 0.2rem 0;
}
.vanilla-calendar-tabs .btn-calendar-tab:is(:hover, :focus-visible, :active, .is-active) {
  color: var(--accent);
  border-color: var(--accent);
}
.vanilla-calendar_multiple .vanilla-calendar-grid {
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  gap: 0 1.75rem;
}
.vanilla-calendar_multiple .vanilla-calendar-top,
.vanilla-calendar_multiple .vanilla-calendar-buttons {
  grid-column: -1 / 1;
}
.vanilla-calendar_multiple .vanilla-calendar-header {
  flex-direction: column;
  align-items: flex-start;
}
.vanilla-calendar_multiple .vanilla-calendar-column {
  grid-row: 2;
}
.vanilla-calendar-column_year .vanilla-calendar-header {
  flex-direction: row;
  align-items: center;
}
.vanilla-calendar-column_year .vanilla-calendar-header__content {
  flex-grow: 1;
  justify-content: flex-start;
  order: -1;
}
/** (End) Vanilla Calendar **/
