@media (min-width: 1400px) {
  /** (Start) GENERAL STYLES **/
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1380px;
  }
  /** (End) GENERAL STYLES **/
}
@media (max-width: 1400px) {
  /** (Start) GENERAL STYLES **/
  .container {
    max-width: 100%;
  }
  /** (End) GENERAL STYLES **/
  /** (Start) Card **/
  .card-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-footer > *:not(.btn-square) {
    grid-row: 2;
    padding-inline: 0.25rem;
  }
  .card-footer > .btn-square {
    grid-column: 2;
    margin-inline-start: auto;
  }
  /** (End) Card **/
  /** (Start) Header Menu **/
  .header .navbar-collapse {
    flex: 100%;
  }
  .header-admin .navbar-collapse {
    flex: unset;
  }
  /** (End) Header Menu **/
  /** (Start) Header Page **/
  .header-page h1 {
    font-size: var(--font-size--xl);
  }
  /** (End) Header Page **/
  /** (Start) Wrapper Table **/
  .table-header h2 {
    font-size: var(--font-size--md);
  }
  /** (End) Wrapper Table **/
}
@media (max-width: 1200px) {
  .icon-data,
  .icon-calendar,
  .icon-products,
  .icon-tools,
  .icon-navigation,
  .icon-users,
  .icon-mydata {
    --size: 1.125rem;
    width: var(--size);
    height: var(--size);
  }
  /** (Start) Header Page **/
  .header .navbar {
    padding-block: 0.375rem;
  }
  .header .navbar-brand {
    max-width: 120px;
  }
  .header .navbar-nav .nav-link .icon {
    --size: 1.125rem;
  }
  .header .navbar-nav .nav-item {
    font-size: 0.75rem;
  }
  /** (End) Header Page **/
  .btn-table .desktop {
    display: none;
  }
  .btn-table .mobile {
    display: block;
  }
}
@media (max-width: 992px) {
  .btn-group--custom {
    max-width: 100%;
    margin: 0;
  }
  /** (Start) Table **/
  .table-collapse-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .table-collapse .search {
    min-width: 260px;
  }
  /** (End) Table **/
  /** (Start) Header Page **/
  .header .navbar-collapse {
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem 0rem 0.75rem 0.75rem;
    padding: 1.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1050;
  }
  .header-admin .navbar-collapse {
    flex: 100%;
  }
  .header-page .btn-search,
  .header-page .form-control {
    display: none;
  }
  .header-page .btn-search[type="button"] {
    display: inherit;
    margin: 0;
    padding: 0.375rem 0.875rem;
    position: static;
    transform: unset;
  }
  .header-page > .btn,
  .header-page > .btn-group,
  .header-page > .swiper {
    grid-row: 2;
    grid-column: span 2;
  }
  .header-page.is-three {
    grid-template-columns: auto 1fr;
  }
  /** (End) Header Page **/
  /** (Start) Wrapper Table **/
  .table-action {
    flex-wrap: wrap;
  }
  .table-action > * {
    flex: 0 0 calc(50% - 0.75rem);
  }
  .table-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .table-header .btn-group {
    width: 100%;
    max-width: unset;
  }
  /** (End) Wrapper Table **/
  .table-items {
    padding: 0.875rem;
    margin-inline: -1rem;
  }
  .table-items .table-responsive {
    max-height: 794px;
    padding-top: 0.125rem;
  }
  .table-items .table {
    text-align: left;
    border-collapse: collapse;
  }
  .table-items thead {
    display: none;
  }
  .table-items td:first-child,
  .table-items th:first-child,
  .table-items td:last-child,
  .table-items th:last-child {
    border-radius: 0;
  }
  .table-items tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.375rem;
  }
  .table-items tbody th,
  .table-items tbody td {
    display: block;
    font-size: calc(var(--font-size) + 1px);
    font-weight: 600;
    color: var(--text-color--dark);
    padding: 0;
  }
  .table-items tbody th > span,
  .table-items tbody td > span {
    max-width: unset;
    margin: 0;
  }
  .table-items tbody tr {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    background-color: var(--background);
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
  }
  .table-items tbody tr > * {
    width: 100%;
    padding-top: 0.75rem;
    border-radius: none;
    background-color: transparent;
  }
  .table-items tbody .suptotal {
    display: block;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.7;
    color: var(--text-color);
  }
  .table-items tbody .name {
    padding-block: 0;
    order: -1;
  }
  .table-items tbody .id {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--text-color--light);
    padding-block: 0 0.75rem;
    border-block-end: 1px solid var(--gray-color);
  }
  .table-items tbody .date {
    flex-basis: calc(50% - 0.5rem);
  }
  .table-items tbody .more {
    width: auto;
    padding: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .table-items .wrapper-status {
    justify-content: start;
  }
  .table-items .wrapper-status .indicator {
    --size: 0.625rem;
  }
  .table-collapse {
    margin-inline: -1rem;
    padding: 0.875rem;
  }
  /** (Start) Wrapper Graph **/
  .wrapper-graph .graph,
  .wrapper-graph .graph--info {
    padding: 1.5rem;
  }
  /** (End) Wrapper Graph **/
}
@media (max-width: 768px) {
  .btn-group--custom {
    gap: 0.75rem;
  }
  .btn-lg {
    padding-inline: 1rem;
  }
  .table thead .wrapper-search {
    max-width: max-content;
  }
  .table thead .wrapper-search .form-control,
  .table thead .wrapper-search .btn[type="submit"] {
    display: none;
  }
  .table thead .wrapper-search .btn[type="button"] {
    position: static;
    transform: unset;
    padding: 0 0.875rem;
    margin-inline-start: auto;
    visibility: visible;
    opacity: 1;
  }
  .table .search {
    min-width: unset;
  }
  .table .search .wrapper-search {
    width: max-content;
    padding-inline-end: 0;
    position: static;
    transform: unset;
  }
  .table .search .wrapper-search .form-control,
  .table .search .wrapper-search .btn[type="submit"] {
    display: none;
  }
  .table .search .wrapper-search .btn[type="button"] {
    position: static;
    transform: unset;
    padding: 0 0.875rem;
    margin-inline-start: auto;
    visibility: visible;
    opacity: 1;
  }
  .table-collapse .mobile {
    display: inline-block;
  }
  .table-collapse-nested.is-twice tbody tr > :first-child {
    padding-inline-start: 3.5rem;
  }
  .table-collapse-content tbody tr > *:first-child {
    padding-inline-start: 1rem;
  }
  .table-collapse-content .type {
    display: none;
  }
  .table-collapse .type {
    padding: 0.625rem 0.125rem;
  }
  .table-collapse .type > span {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  .table-collapse-card.is-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .table-collapse-card .item {
    padding-inline-start: 3rem;
  }
  .table-items .table-responsive {
    max-height: 744px;
  }
  .table-items tbody {
    grid-template-columns: repeat(2, 1fr);
  }
  /** (Start) Card **/
  .card-footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-footer > *:not(.btn-square) {
    grid-row: auto;
  }
  .card-footer > .btn-square {
    max-width: 100%;
    grid-column: auto;
    margin-inline-start: unset;
  }
  /** (End) Card **/
  .modal-header,
  .modal-body,
  .modal-footer {
    padding-inline: 1.5rem;
  }
  .modal-header {
    padding-block-start: 1.5rem;
  }
  .modal-title {
    font-size: calc(var(--font-size--sm) + 0.125rem);
    line-height: 2;
  }
  .modal-footer {
    padding-block-end: 1.5rem;
  }
  .modal-footer > * {
    flex-basis: calc(50% - 0.5rem);
  }
  .modal-footer.is-overflow {
    flex-direction: column-reverse;
  }
  .modal-footer.is-overflow > * {
    width: 100%;
  }
  /** (Start) Header Page **/
  .header-page {
    align-items: baseline;
    gap: 1.25rem 1.875rem;
    margin-block-end: 1.5rem;
  }
  .header-page h1 {
    font-size: 1.25rem;
  }
  /** (End) Header Page **/
  .dropdown-nested .dropdown-menu {
    height: auto;
    inset: 0 auto auto 0 !important;
    box-shadow: var(--box-shadow);
    border-inline-start: none;
    border-radius: 0.75rem;
  }
  .dropdown-nested .dropdown-menu ul {
    max-height: 470px;
  }
  .dropdown-nested .dropdown-menu li:first-child {
    display: block;
  }
  .dropdown-nested .dropdown-menu li + li {
    margin-top: 0.5rem;
  }
  .dropdown-nested .wrapper-search {
    display: block;
  }
  .dropdown-nested .wrapper-search + div {
    margin-top: 0.875rem;
  }
  .dropdown-nested .btn-collapse {
    display: flex;
  }
  /** (Start) Wrapper MyData **/
  .wrapper-mydata {
    padding: 1rem;
  }
  .wrapper-mydata form > .row {
    row-gap: 1.625rem;
  }
  /** (End) Wrapper MyData **/
}
@media (max-width: 576px) {
  .table-items .table-responsive {
    max-height: 1134px;
  }
  .table-items tbody {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
  }
  .table-collapse .table.nested .name {
    padding-inline-end: 0.5rem;
  }
  .table-collapse thead th {
    position: static;
  }
  .table-collapse thead .type > span {
    opacity: 0;
  }
  .table-collapse thead .wrapper-search {
    right: 1rem;
  }
  .table-collapse thead .wrapper-search .btn[type="button"] {
    padding-inline: 0.5rem;
  }
  .table-collapse-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-group--custom {
    flex-direction: column;
  }
  .modal-dialog {
    margin: 1rem;
  }
  .modal-footer {
    padding-block-start: 1.375rem;
  }
  .modal .desktop {
    display: none;
  }
  .modal .mobile {
    display: block;
  }
  .nav-tabs {
    justify-content: space-between;
    gap: 0.5rem;
    padding-inline: 0.625rem;
  }
  /** (Start) Header Page **/
  .header-page {
    flex-direction: column;
  }
  .header-page .form-control {
    max-width: 100%;
  }
  /** (End) Header Page **/
  /** (Start) Wrapper Table **/
  .wrapper-table.without-filter .wrapper-pagination {
    grid-row: 1;
  }
  .wrapper-table .tab-pane .wrapper-pagination,
  .wrapper-table .tab-pane .wrapper-navigation {
    grid-column: span 2;
  }
  .wrapper-table .tab-pane .wrapper-pagination {
    grid-row: 1;
  }
  .table-action {
    flex-wrap: wrap;
  }
  .table-action > * {
    flex: 0 0 calc(100%);
  }
  .table-buttons {
    flex-wrap: wrap;
  }
  .table-buttons > .table-button {
    flex-basis: calc(50% - 0.25rem);
  }
  .table-wrapper {
    margin-block: 0;
  }
  .wrapper-pagination {
    grid-row: 2;
    justify-content: start;
    padding-block: 1rem;
  }
  .wrapper-pagination .pagination-title {
    flex-shrink: 0;
  }
  .wrapper-pagination .pagination {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /** (End) Wrapper Table **/
  /** (Start) Wrapper Graph **/
  .wrapper-graph .graph--info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .wrapper-graph .graph-header {
    margin-bottom: 1rem;
  }
  .wrapper-graph .graph-main {
    position: relative;
  }
  .wrapper-graph .graph-main-end {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper-graph .graph-canvas {
    width: 100px !important;
    height: 70px !important;
    aspect-ratio: auto 100 / 70;
  }
  /** (End) Wrapper Graph **/
}
