@font-face {
  font-family: 'Open-sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Open-sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Open-sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Public-sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Public-sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PublicSans-Bold.woff2') format('woff2');
}
:root {
  /*Colors*/
  --accent: #4872F2;
  --accent-20: rgba(72, 114, 242, 0.2);
  --accent-05: #f3f6ff;
  --accent--light: #EDF1FE;
  --secondary: #49C8C0;
  --secondary--light: #E8F8F7;
  --third: #FFE100;
  --warning: #E73C3E;
  --warning--light: #FCE7E7;
  --table: #DCE5FD;
  --text-light: white;
  --text-color: #637381;
  --text-color--dark: #212B36;
  --text-color--light: #9FAFBD;
  --text-form: #919EAB;
  --gray-color: #DCE0E4;
  --gray-color--light: #F2F5FE;
  --gray-color--dark: #BEC2C6;
  --background: white;
  --background--secondary: #E4E8EC;
  --border-color: #EDF1FE;
  --border-color--dark: #919EAB52;
  --border-radius: 1rem;
  --box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px rgba(145, 158, 171, 0.30);
  --box-shadow-2: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
  --box-shadow-3: 0px 15px 30px -6px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.25);
  --box-shadow-4: 0px 24px 48px 0px rgba(145, 158, 171, 0.16);
  --box-shadow--nested: 0px 0px 2px 0px rgba(145, 158, 171, 0.24), 10px 20px 40px 0px rgba(145, 158, 171, 0.24);
  /*Font*/
  --font: Open-sans, sans-serif;
  --font-second: Public-sans, sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --font-size--tiny: 0.75rem;
  --font-size: 0.875rem;
  --font-size--sm: 1rem;
  --font-size--md: 1.25rem;
  --font-size--lg: 1.5rem;
  --font-size--xl: 1.75rem;
  --font-size--xxl: 2rem;
  --font-size--tl: 2.5rem;
  --line-height: 1.5;
}
::placeholder {
  color: #666;
}
::selection {
  background-color: var(--accent);
  color: #fff;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  min-width: 320px;
  position: relative;
}
